@charset "UTF-8";

/**{
    margin: 0;
    padding: 0;
}


img{
    position: relative;
    width: 100vw;
    height: 20vh;    
}

nav{
    background-color: #111;
    width: 15vw;
    height: 80vh;
    padding-top: 200px;
    
}

li{
    padding: 10px;
    
}

a{
    color: white;
    font-family: Arial;
    font-size: 20pt;
    background-color: #f1f1f1;
    display: block;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px ;
}

a:hover{
    background-color: aqua;
}

.conteudo{
    position: absolute;
    width: 85vw;
    height:80vh;
    margin-left: 230px;
    padding-top: 200px;
    background-color: gray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.horarioServico{
    padding: 10px;
}

table, th, td{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table tr:nth-child(even){
    background-color: aqua;
}

table tr:hover{
    background-color: lightgray;
}

p.contato{
    margin-top: 10px;
}

form{
    margin-top: 10px;
}

iframe{
    margin-top: 10px;
}

input#limpar{
    width: 100px;
    height: 30px;
}

input#enviar{
    width: 100px;
    height: 30px;
}

footer{
    background-color: gray;
    width: 100vw;
    height: 20vh;
    color: white;
    text-align: center;
}*/

html, body {
    margin: 0;
}

body {
    background-image: url(../img/pexels-pixabay-414144.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1500px;
    height: 900px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: rgba(118, 199, 118, 0.608);
    padding: 10px 20px 0px;
}

.aNemu{
    color: #f1f1f1;
    text-decoration: none; 
}

li{
    font-size: 25px;
    list-style-type: none;
    padding: 25px;
}

li:hover{
    background-color: rgb(5, 108, 108);;
    border-radius: 5px;
    cursor: pointer;
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    height: 230px;
}

.header > img{
    width: 1239px;
    height: 230px;
}

.content {
    background-color: white;
    height: 500px;
    min-height: 300px;
    padding: 20px;
}

h1{
    color: rgba(53, 154, 53, 0.867);;
}

p{
    font-size: 20px;
}

iframe{
    height: 175px;
}

table, th, td{
    width: 900px;
    margin: auto; 
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table tr:nth-child(even){
    background-color: aqua;
}

table tr:hover{
    background-color: lightgray;
}


.footer {
    /*background-color: rgb(99, 56, 240);*/
    background-color: rgb(5, 108, 108);
    color: #f1f1f1;
    height: px;
    min-height: 119px;
    text-align: center;
    padding: 5px;
}

.footer > a{
    display: block;
    color: #f1f1f1;
    text-decoration: none;
    padding: 5px;
}

.footer > a:hover{
    background-color: black;
    border-radius: 5px;
}


